* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0  auto;
    flex-wrap: wrap;
}

section.main {
    background-image: url('./img/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}
.menu {
    display: flex;
    width: 100%;
}
.logo-menu {
    width: 50%;
}
.items-menu {
    width: 50%;
}
.items-menu a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
.items-menu a:hover {
    border-bottom: 2px solid #FFDD33;
}
.items-menu a.contact-btn {
    background-color: #0F3FD3;
    padding: 12px;
    border-bottom: none;
    border-radius: 10px;
}
.mockup {
    display: block;
    width: 100%;
    color:white;
    text-align: center;
    padding-top: 100px;
}
.mockup h1 {
    font-size: 50px;
    padding-bottom: 20px;
}
.mockup img {
    padding-top: 50px;
    max-width: 100%;
}
section.marcas {
    padding: 100px 0;
}

section.marcas img {
    width: calc(100% / 5);
}
section.porque-nos {
    padding: 40px 0;
    background-color: #FBFCFE;
}

section.porque-nos > .center > h2{
   font-size: 64px;
   text-align: center;
   width: 100%;   
}
section.porque-nos > .center > p{
    font-size: 14px;
    text-align: center;
    color: #ccc;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
}
.diferenciais {
    display: flex;
}
.box-diferenciais {
    box-shadow: 0px 20px 40px #2426721C;
    width: 31%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 10px;
}

.box-diferenciais h3{
    font-size: 28px;
    color: black;
    margin: 20px 0;
}
.box-diferenciais p {
    font-size: 13px;
    color: #7E92AC;
    margin-bottom: 20px;
}
section.cta {
    background-image: url('./img/bg-fundo.png');
    background-size: cover;
    background-position: center;
    padding: 20px 10;
    min-height: 200px;
    margin-top: 150px;
    color: white;
    text-align: center;
}
section.cta h2{
    padding-top: 68px;
    font-size: 64px;
}
section.cta p{
    padding-top: 36px;
    font-size: 20px;
    padding-bottom: 40px;
}
section.cta a{
    display: inline-block;
    background: #FFDD33;
    padding: 8px 15px;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 7px;
    color: #0F3FD3;
    font-weight: bold;
    margin-bottom: 100px;
    text-decoration: none;
}
.beneficios .center{
    margin-top: 100px;
}
.lista-beneficios{
    width: 50%;
    margin-top: 70px;
}
.img-beneficios{
    width: 50%;
    margin-top: 70px;
}
.lista-beneficios h2 {
    text-align: left;
    padding-left: 36px;
    font-size: 44px;
    padding-bottom: 50px;
}
.lista-beneficios ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.img-beneficios img {
    max-width: 100%;
}
.lista-beneficios ul button{
    background-color: #0F3FD3;
    padding: 12px;
    border-bottom: none;
    border-radius: 10px;
    color:#fff;
    text-decoration: none;
    border: none;
    right: 0;
}
.lista-beneficios ul div {
    padding-left: 36px;
    padding-top: 50px;
}
section.depoimentos {
    background-color: #FBFCFE;
    margin-top: 222px;
    padding: 40px 0;
}
section.depoimentos > h1 {
    text-align: center;
    font-size: 64px;
}
.container-slider{
    overflow:hidden;
    padding:40px 0;   
}

.container-slider-single{
    float: left;
    background-color:white;
    text-align: center;
    padding:15px;
    border-radius:10px;
}
.container-slider-single img {
    padding-top: 59px;
}
.container-slider-single .star {
    padding-bottom: 59px;
}
.container-slider-single p{
    margin:15px 0;
    color:#7E92AC;
    font-size: 14px;
    padding-bottom: 20px;
}

.slick-slide {
    margin-left:27px;

  }

  /* the parent */
  .slick-list {
    margin-left:-27px;
   
  }

/****SLICK SLIDER****/

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #373855;
	color: #373855;
}
.container-slider-single h3 {
    padding-top: 37px;
    padding-bottom: 23px;
}
/* fim do slick slider */
section.contato{
    margin-top: 150px;
    padding: 40px 0;
    text-align: center;
}
section.contato h1 {
    font-size: 64px;
    padding-bottom: 20px;
}
section.contato form{
    width: 100%;
}
.contato input[type=text],
.contato input[type=email]{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background: #FCFDFF;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    padding-left: 10px;
}
section.contato textarea{
    width: 100%;
    height: 279px;
    margin: 20px 0;
    background: #FCFDFF;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    
}
.contato input[type=submit]{
    width: 100%;
    height: 50px;
    display: block;
    cursor: pointer;
    background: #255AFF;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.88px;
}
@media screen and (max-width: 768px) {
    .diferenciais {
        flex-wrap: wrap;
    }
    .box-diferenciais {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    section.marcas > .center {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    section.marcas img {
        max-width: 300px;
        width: 100%;
    }
    .lista-beneficios ul li{
        width: 460px;
    }
    .img-beneficios{
       width: 100%;
    }
    .lista-beneficios h2{
        text-align: center;
        width: 460px;
    }
    
}